{% extends 'VBIMusicApp/base.html' %}
{% load staticfiles %}
{% block body_block %}

<style type="text/css">
	body{
		display: block !important;
	}
</style>

<div class="grid">
    <div class="row">
        <div class="cell-1">
            <div></div>
        </div>
        <div class="cell-10">

        	<!-- topbar starts -->
            <ul class="h-menu" style="color: white; background-color: #006497;">
                <li><a href="#">VBI - Your music companion!</a></li>
                {% if user.is_authenticated %}
                  	<!-- <p style="display: inline-block;color: blue;">Hi {{ user.get_username }},</p> -->
                    <!-- <a href="{% url 'logout' %}">Logout</a> -->
                	
                    <li style="float: right;"><a href="{% url 'logout' %}">Logout</a></li>
                	<li style="float: right;"><a href="#">Welcome {{ user.get_username }}</a></li>
                {% endif %}
            </ul>
            <!-- topbar ends -->

            <!-- tab section starts -->
            <ul data-cls-tabs="flex-justify-center mt-2" data-role="tabs" data-expand="true">
                <li class="all-songs"><a href="#_allsongs">All Songs</a></li>
                <li onclick='list_all_playlists()'><a href="#_playlists">Playlists</a></li>
            </ul>
            <!-- tab section ends -->
            
            <!-- tabeselector is id href attr -->
            <div class="border bd-default no-border-top p-2">
                <div id="_allsongs">
                    <!-- search section starts -->
                    <form action="javascript:" onsubmit="search_song()">
                        <input id="search_text" type="text" data-role="input" data-search-button-click="custom"
                            data-on-search-button-click="mySubmitSearch" data-history="true"
                            data-prepend="Search Songs:">
                    </form>
                    <!-- search section ends -->
                    <!-- list song section starts -->
                                       
                    <div class="items-list" id='items-list'>
                    </div>
                    <!-- list song section ends -->
                </div>
                <div id="_playlists">
                	<div class="no-playlists">
                    	<h5><small> No playlist available </small></h5>
                	</div>
                	<div class="no-songs">
                    	<h5><small> No song available </small></h5>
                	</div>
                	<div class="items-list playlist-items" id='playlist-items'>
                    </div>
                    <div class="col-md-12 text-center playlist-items">
						<button class="button info" onclick="Metro.dialog.open('#playlistDialog')">Create Playlist</button>
                    </div>
                    <div class="col-md-12 playlist-header" id="playlist-header">
                    </div>
                    <div class="col-md-12 text-center">
						<button class="button info shuffle-btn" onclick="shuffle_songs()">Shuffle Play</button>
						<button class="button info add-btn" onclick="list_songs_to_add_to_playlist()">Add Song</button>
                    </div>
                    <form class="playlist-search" id="playlist-search" action="javascript:" onsubmit="search_in_playlist()">
                        <input id="search_text" type="text" data-role="input" data-search-button-click="custom"
                            data-on-search-button-click="mySubmitSearch" data-history="true"
                            data-prepend="Search Songs:">
                    </form>
                    <div class="items-list playlist-songs" id='playlist-songs'>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-1">
            <div></div>
        </div>
    </div>
</div>

<!-- Playlist Modal -->
<div class="dialog" data-role="dialog" id="playlistDialog">
    <div class="dialog-title">Create Playlist</div>
    <div class="dialog-content">
        <form action="javascript:" method="post">
        	{% csrf_token %}
            <div class="form-group">
		        <div class="row mb-2">
			        <label class="cell-sm-3">Playlist Name</label>
			        <div class="cell-sm-9">
			            <input type="text" id="playlist-name" class="metro-input">
			        </div>
			    </div>
		    </div>
        </form>
    </div>
    <div class="dialog-actions">
        <button class="button success js-dialog-close" onclick="create_playlist()">Create</button>
    </div>
</div>

{% endblock %}